<main>
  <h1>Augmented Reality</h1>
  <span>
    Augmented Reality is the technology that makes possible to add overlayed content on the real world. It can be
    provided for several type of devices: handleheld (like mobile phones), headsets, desktop displays, and so on.
  </span>
  <br /><br /><br />
  <!-- <button class="btn1" (click)="openCamera()">Open AR</button><br /> -->
  <!-- <button class="btn1" (click)="openArTest()">Open AR Test</button><br /> -->
  <!-- <button class="btn1" (click)="openFinal()">Open Final</button><br /> -->
  <!-- <button class="btn1" (click)="openStack()">Open Stack</button><br /> -->
  <button class="btn1" (click)="openTest()">Open Test</button><br />
  <button class="btn1" (click)="openOpera()">Open Opera</button><br />
  <button class="btn1" (click)="openStatic()">Open Static</button><br />
  <button class="btn1" (click)="openHikar()">Open Hikar</button>

  <br /><br /><br />
  your location: <br>
  latitude: {{latitude}}<br>
  longitude: {{longitude}}<br>
  accuracy: {{accuracy}} mètres
</main>
