<div *ngIf="isPopupVisible" fxLayout="column" fxLayoutGap="15px" class="model">
    <span class="title ellipsisSpan"> {{ viewModel.Designation }}</span>
    <span class="textSpan"
      >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque maxime fuga aspernatur totam et quasi
      voluptatibus, amet consequatur minima natus inventore rem error suscipit saepe perferendis sapiente ad tenetur
      aliquid.</span
    >
    <button class="xClose" (click)="isPopupVisible = false">X</button>
  </div>
  <a-scene
  id="scena"
    cursor="rayOrigin: mouse; fuseTimeout: 0"
    raycaster="objects: [gps-entity-place];"
    vr-mode-ui="enabled: false"
    renderer="antialias: true; alpha:true"
    arjs="videoTexture: true; sourceType: webcam; debugUIEnabled: false"
  >

    <a-camera gps-projected-camera rotation-reader></a-camera>
    <!-- <a-camera
    id="camera1"
    look-controls-enabled="false"
    near="0.1"
    far="50000"
    fov="80"
    arjs-look-controls="smoothingFactor: 0.1"
    gps-projected-camera="gpsMinDistance: 5"
    rotation-reader
    vertical-controls
    wasd-controls="acceleration: 1300"
  >
  </a-camera> -->
  </a-scene>
  